
<h2>Games</h2>

<table class="table table-hover">
    <thead class="text-muted">
        <th>Game</th>
        <th class="middle-column">Rating</th>
        <th class="rightmost-column">Reviews</th>
    </thead>
    <% games.each( function (game) { %>
        <tr>
            <td class="leftmost-column">
                <a href="#games/<%= game.get("id") %>"><%= game.escape("name") %></a>
            </td>
            <td class="middle-column">
                <a href="#games/<%= game.get("id") %>"><%= game.escape("rating")%></a>
            </td>
            <td class="rightmost-column">
                <a href="#games/<%= game.get("id") %>"><%= game.reviews().length %></a>
            </td>
        </tr>
    <% }) %>
</table>

<a href="#games/new" class="btn btn-primary">Create a New Game</a>
